/* profile-navbar start */
#profile-navbar {
    background-color: #fff;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
}

#profile-navbar .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
    color: #7a7d85;
    line-height: 62px;
    font-weight: 600;
    padding: 0 10px;
    transition: all linear .3s;
    letter-spacing: 1px;
}

/* #profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown {
    width: 400px;
    left: -161px;
} */

/* mahadi vay code */
#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown {
    width: 400px;
    left: 185px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .message-body {
    height: 520px;
    /* width: 500px; */
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

/* mahadi vay code */
#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown:after {
    top: -11px;
    left: 190px;
}

#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown .nav-tabs {
    border: 0;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);

}

#profile-navbar #message-dropdown .nav-tabs .nav-tab-notification {
    border-right: 1px solid rgba(122, 125, 133, 0.300) !important;
}

#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown .nav-tabs .nav-link {
    border: 0px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 39px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .community-dropdown {
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    -webkit-box-shadow: 0px 0px 3px -5px #000000;
    box-shadow: 0px 0px 3px -5px #000000;
    left: -57px !important;
}

#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu a {
    font-size: 16px;
    color: #7a7d85;
    font-weight: 400;
    padding: 0 10px;
    transition: all linear .3s;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu {
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    -webkit-box-shadow: 0px 0px 3px -5px #000000;
    box-shadow: 0px 0px 3px -5px #000000;
    left: -79px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu:after {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: -11px;
    left: 100px;
    transform: rotate(45deg);
    background: #fbfaf8;
    border-top: 1px solid rgb(219, 219, 219);
    border-left: 1px solid rgb(219, 219, 219);
}

#profile-navbar .navbar-expand-lg .navbar-nav .user-dropdown a {
    font-size: 16px;
    color: #7a7d85;
    font-weight: 400;
    padding: 0 10px;
    transition: all linear .3s;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .user-dropdown .part-one {
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
}

#profile-navbar .navbar-expand-lg .navbar-nav .user-dropdown {
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    -webkit-box-shadow: 0px 0px 3px -5px #000000;
    box-shadow: 0px 0px 3px -5px #000000;
    left: -149px;
    top: 67px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .user-dropdown:after {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    top: -9px;
    left: 170px;
    transform: rotate(45deg);
    background: #fbfaf8;
    border-top: 1px solid rgb(219, 219, 219);
    border-left: 1px solid rgb(219, 219, 219);
}



#profile-navbar .navbar-expand-lg .navbar-nav .switch-dropdown {
    padding: 15px;
    display: none;
    position: absolute;
    height: 150px;
    width: 140px;
    background-color: #404145;
    z-index: 99;
    border-radius: 5px;
    transition: all 0.3s;
}

#profile-navbar .navbar-expand-lg .navbar-nav .switch-btn:hover+.switch-dropdown {
    display: block;
}

#profile-navbar .navbar-expand-lg .navbar-nav .switch-dropdown {
    padding-bottom: 10px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .switch-dropdown p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .switch-dropdown:after {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: -4px;
    left: 62px;
    transform: rotate(45deg);
    background: #404145;
}

#profile-navbar .green-font {
    color: #1dbf73 !important;
}

#profile-navbar .user-profile-shape .dropdown-menu a:hover {
    color: #1dbf73
}



#profile-navbar .user-profile-shape img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 1px solid rgb(255, 205, 205);
}

#profile-navbar .user-dollar-shape {
    border-radius: 5px;
    border: 1px solid #1dbf73;
    padding: 3px;
    margin-top: 17px;
    margin-left: 10px;
}

#profile-navbar .user-dollar-shape p {
    font-size: 16px;
    color: #1dbf73;
    font-weight: 600;
    font-family: Helvetica_ligntl;
}


.message_toggle #message-dropdown {
    top: 90%;
}

/* arman 25 */
#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown .nav-tabs {
    border: 0;
    padding-top: 10px;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);

}

#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown .nav-tabs .nav-link i {
    padding-right: 5px;

}

#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown .nav-tabs .nav-link.active {
    color: #2ac37b;

}

/* 72 from arman.css */
#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu {
    padding: 0px;
    border: 1px solid rgb(219, 219, 219);
    -webkit-box-shadow: 0px 0px 3px -5px #000000;
    box-shadow: 0px 0px 3px -5px #000000;
    left: -79px;
}

/* 17 number line  */
#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown {
    width: 405px;
    left: 185px;
}

/* 18 number line */
#profile-navbar .navbar-expand-lg .navbar-nav .message-body {
    height: 520px;
    /* width: 500px; */
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px;
}

.message-body .noti-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 32px;
    background: white;
    border-top: 1px solid #e4e5e7;
}

.message-body .item li {
    background: #ebf2f5;
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid #e4e5e7;
    -webkit-transition: background-color 0.2s, width 0.2s;
    -o-transition: background-color 0.2s, width 0.2s;
    transition: background-color 0.2s, width 0.2s;
}

.message-body .item li:hover {
    background: white;
}

#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu .item li a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    padding: 0px;
    margin-bottom: 0px;
    letter-spacing: 0px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu .item li a:hover {
    text-decoration: none;
}

.message-body .notification_left i {
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
    background: #d1e7f0;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    color: #167495;
}

.message-body .notification_left img {
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
    border-radius: 50%;
    display: inline-block;
}

.message-body .notification-right i {
    height: 55px;
    width: 55px;
    color: #bdc0c1;
    font-size: 18px;
    display: inline-block;
    padding-top: 5px;
    text-align: center;
}

.message-body .notification_content p {
    font-size: 14px;
    line-height: 15px;
    color: #62646a;
}

.message-body .notification_content span {
    font-size: 12px;
    color: #b5b6ba;
}

.message-body .noti-footer .footer-items {
    float: left;
    padding: 0 20px;
}

.message-body .noti-footer .footer-items li {
    float: left;
    display: inline-block;
    line-height: 32px;
    padding-right: 10px;
}

#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu .message-body .noti-footer .footer-items li a {
    padding: 0px;
}

.message-body .noti-footer .footer-items li i {
    color: #7b7b7b;
    font-size: 14px;
}

.message-body .noti-footer .footer-items li i:hover {
    color: #535353;
}

#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu .message-body .noti-footer .see-all-inbox {
    float: right;
    padding: 0 20px;
    display: inline-block;
    line-height: 32px;
    font-weight: 600;
    font-size: 14px;
    color: #4a73e8;
    vertical-align: baseline;
}


/* profile-navbar end */




/* Common footer start */
#footer {
    border-top: 1px solid rgba(122, 125, 133, 0.300);
    padding-top: 70px;

}

#footer .container {
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
    padding-bottom: 50px;
}

#footer .footer-titles {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

#footer .footer-category li {
    padding: 10px;
}

#footer .footer-category a {
    font-size: 16px;
    color: #7a7d85;
    font-weight: 400;
    /* letter-spacing: 1px; */
}

#footer .footer-category .footer-special {
    margin-top: -20px;
}

#footer .footer-category .footer-special a {
    color: #b5b6ba;
    font-size: 14px;
}

#footer .footer-category a:hover {
    text-decoration: underline;
}

/* end-footer  start */
#end-footer {
    padding: 20px 0px;
}

#end-footer .left-side img {
    width: 100%;
}

#end-footer .left-side li {
    display: inline-block;
}

#end-footer .left-side p {
    padding-top: 10px;
    padding-left: 25px;
    color: #b5b6ba;
    font-size: 14px;
}

#end-footer .right-side {
    float: right;
}

#end-footer .footer-icon {
    float: inline-block;
}

#end-footer .footer-icon li {
    display: inline-block;
}

#end-footer .footer-icon li i {
    color: #7a7d85;
    font-size: 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0px 3px;
}

#end-footer .footer-icon li i:hover {
    background-color: rgb(230, 230, 230);
}


#end-footer .footer-modals i {
    color: #7a7d85;
    font-size: 14px !important;
    margin-left: 10px;
    transition: all linear .3s;
}

#end-footer .footer-modals i:hover {
    background-color: #fff !important;

}

#end-footer .footer-modals a {
    color: #7a7d85;
    font-size: 14px;
    font-weight: 600;
    transition: all linear .3s;
}

#end-footer .footer-modals:hover a {
    color: #343538;
}

#end-footer .footer-modals:hover i {
    color: #343538;
}

#end-footer .footer-man {
    padding-left: 20px;
}

#end-footer .footer-man i {
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}


#end-footer .footer-man i:hover {
    background-color: rgb(240, 251, 255);
    border: 1px solid rgb(240, 251, 255);
}


#end-footer .language-modal .modal-dialog {
    width: 400px;
}

#end-footer .language-modal .modal-title {
    font-size: 20px;
    color: #404145;
    font-weight: 600;
    padding: 15px 20px;

}

#end-footer .language-modal .modal-header .close {
    font-size: 40px;
    padding-top: 25px;
    padding-right: 30px;
    font-weight: 400;
}

#end-footer .language-modal .modal-body {
    padding-bottom: 20px;
}

#end-footer .language-modal .modal-body li {
    display: block;
}

#end-footer .language-modal .modal-body li i {
    color: #62646a;
    font-size: 10px;
}

#end-footer .language-modal .modal-body li i:hover {
    background-color: #fff;
}

#end-footer .language-modal .modal-body li a {
    font-size: 16px;
    color: #62646a;

}

#end-footer .dollar-modal .modal-dialog {
    width: 400px;
}

#end-footer .dollar-modal .modal-title {
    font-size: 20px;
    color: #404145;
    font-weight: 600;
    padding: 15px 20px;

}

#end-footer .dollar-modal .modal-header .close {
    font-size: 40px;
    padding-top: 25px;
    padding-right: 30px;
    font-weight: 400;
}

#end-footer .dollar-modal .modal-body {
    padding-bottom: 20px;
}

#end-footer .dollar-modal .modal-body li {
    display: block;
    padding-bottom: 15px;
}

#end-footer .dollar-modal .modal-body li i {
    color: #62646a;
    font-size: 10px;
}

#end-footer .dollar-modal .modal-body li i:hover {
    background-color: #fff;
}


#end-footer .dollar-modal .modal-body li a {
    font-size: 16px;
    color: #404145;
    font-weight: 600;
}

#end-footer .dollar-modal .modal-body li span {
    font-size: 18px;
    color: #62646a;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 40px;
}

/* Common footer ends */


/* profile-main start */
#profile-main {
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile-main .left-side {
    margin-left: 25px;
}

#profile-main .left-side .user-profile .online p {
    border: 1px solid #1dbf73;
    color: #1dbf73;
    position: absolute;
    right: 17px;
    border-radius: 15px;
    padding: 0px 5px;
}

#profile-main .left-side .user-profile .online i {
    font-size: 5px;
}

#profile-main .left-side .user-profile #profile-main .left-side .user-profile .first-part {
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
    padding-bottom: 30px;
}

#profile-main .left-side .user-profile {
    padding: 30px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
}

#profile-main .left-side .user-profile img {
    height: 152px;
    width: 152px;
    border-radius: 50%;
}


#profile-main .left-side .user-profile .img-overlay {
    height: 152px;
    width: 152px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 30px;
    left: 118px;
    display: none;
    transition: all linear .3s;
}

#profile-main .left-side .user-profile .img-overlay i {
    font-size: 40px;
    color: #fff;
    line-height: 152px;
    text-align: center;
}

#profile-main .left-side .user-profile .user-img:hover .img-overlay {
    display: block;
    cursor: pointer;
}

#profile-main .left-side .user-profile h4 {
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0f;
    padding: 10px 0px;
}

#profile-main .left-side .user-profile p {
    font-size: 14px;
    font-weight: 400;
    color: #62646a;
}

#profile-main .left-side .user-profile li {
    display: inline-block;
    padding-bottom: 30px;
}

#profile-main .left-side .user-profile li i {
    color: rgb(255, 179, 62);
    font-size: 13px;
}

#profile-main .left-side .user-profile .rating {
    padding-left: 7px;
    font-size: 14px;
    font-weight: 600;
    color: #62646a;
}

#profile-main .left-side .user-profile .number-of-reviews {
    font-size: 14px;
    font-weight: 400;
    color: #62646a;
}

#profile-main .left-side .user-profile i:hover {
    color: #3e3e41;
}

#profile-main .left-side .user-profile a {
    padding: 10px 85px;
    border: 1px solid #62646a;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #62646a;
    letter-spacing: 1px;
    transition: all 0.2s ease;
}

#profile-main .left-side .user-profile a:hover {
    background-color: #62646a;
    color: #fff;
}

#profile-main .left-side .user-profile .second-part {
    padding: 20px 0px 10px;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
}

#profile-main .left-side .user-profile .second-part i {
    padding-right: 15px;
}

#profile-main .left-side .user-profile .second-part .left-part p {
    padding-bottom: 12px;
}

#profile-main .left-side .user-profile .second-part .right-part p {
    font-weight: 600;
    padding-bottom: 12px;
}

#profile-main .left-side .user-profile .second-part .right-part a {
    padding: 10px 15px;
    border: 1px solid #62646a;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #62646a;
    letter-spacing: 1px;
    transition: all 0.2s ease;
}

#profile-main .left-side .user-profile .second-part .right-part a:hover {
    background-color: #62646a;
    color: #fff;
}

#profile-main .left-side .user-profile .last-part {
    border-bottom: none;
    padding: 28px 0 20px;
}

#profile-main .left-side .earn-badge {
    padding: 20px 30px 45px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    margin-bottom: 30px;
    background-color: #fff;
}

#profile-main .left-side .earn-badge .first-one img {
    width: 30%;
    float: left;
}

#profile-main .left-side .earn-badge h4 {
    font-weight: 600;
    color: rgb(64, 65, 69);
    font-size: 20px;
}

#profile-main .left-side .earn-badge p {
    font-weight: 400;
    color: #7e8088;
    font-size: 16px;
    padding: 10px 30px 20px;
}

#profile-main .left-side .earn-badge a {
    padding: 10px 124px;
    border: 1px solid #1dbf73;
    background-color: #1dbf73;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.2s ease;
}

#profile-main .left-side .user-description {
    padding: 20px 30px 45px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    background-color: #fff;
}

#profile-main .left-side .user-description .description {
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
    padding-bottom: 30px;
}

#profile-main .left-side .user-description .description h5 {
    color: rgb(14, 14, 15);
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 20px;
    display: inline-block;
}

#profile-main .left-side .user-description .description a {
    color: rgb(0, 105, 140);
    font-size: 14px;
    font-weight: 400;
    float: right;
    padding-top: 5px;
}

#profile-main .left-side .user-description .description p {
    font-size: 14px;
    font-weight: 400;
    color: #62646a;
    transition: all 0.3 ease;
}

#profile-main .left-side .user-description .language {
    padding-top: 30px;
}

#profile-main .left-side .user-description .language i {
    display: none;
    padding-left: 5px;
    font-size: 12px;
    color: #a7a7a7;
}

#profile-main .left-side .user-description .language p:hover i {
    display: inline-block;

}

#profile-main .left-side .user-description .language span {
    font-size: 14px;
    font-weight: 400;
    color: #a7a7a7;
}

#profile-main .left-side .user-description .tests {
    padding-top: 30px;
}

#profile-main .left-side .user-description .tests i {
    font-size: 20px;
    color: #1dbf73;
}

#profile-main .left-side .user-description .tests p {
    padding-bottom: 30px;
}

#profile-main .left-side .user-description .tests a {
    color: rgb(0, 105, 140);
    font-size: 14px;
    font-weight: 400;
    float: none;
}

#profile-main .left-side .user-description .tests .test-btn {
    padding: 10px 34px;
    border: 1px solid #1dbf73;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #1dbf73;
    letter-spacing: 1px;
    transition: all 0.2s ease;
}

#profile-main .left-side .user-description .linked-accounts {
    padding-top: 30px;
}

#profile-main .left-side .user-description .linked-accounts i {
    padding-right: 10px;
}

#profile-main .left-side .user-description .linked-accounts a {
    color: rgb(0, 105, 140);
    font-size: 14px;
    font-weight: 400;
    float: none;
    display: block;
    margin-bottom: 10px;
}

#profile-main .left-side .user-description .linked-accounts .linked {
    color: rgb(56, 55, 55) !important;
}

#profile-main .left-side .user-description .skill {
    padding-top: 30px;

}

#profile-main .left-side .user-description .skill .skills {
    position: relative;
    display: inline-block;
    padding-bottom: 30px;
    padding-right: 10px;
}

#profile-main .left-side .user-description .skill .skills a {
    float: none;
    border-radius: 15px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 8px 8px;
    color: #555;
}

#profile-main .left-side .user-description .skill .skills .overlay {
    background-color: #fff;
    width: 42px;
    position: absolute;
    top: 0;
    left: -20px;
    display: none;
}

#profile-main .left-side .user-description .skill .skills .overlay i {
    color: #a7a7a7;
    padding-right: 3px;
}

#profile-main .left-side .user-description .skill .skills:hover .overlay {
    display: block;
    left: 4px;
}

#profile-main .left-side .user-description .skill h5 {
    color: rgb(14, 14, 15);
    font-size: 16px;
    font-weight: 700;
    padding-right: 170px;
    padding-bottom: 30px;
    display: inline-block;
}

#profile-main .left-side .user-description .description h6 {
    color: #62646a;
    font-size: 16px;
    padding-bottom: 20px;
}

#profile-main .left-side .user-description .skill .suggestions a {
    float: none;
    border-radius: 15px;
    padding: 8px 8px;
    color: #555;
    background-color: #f4f4f4;
}

#profile-main .left-side .user-description .skill .suggestions a:hover {
    padding: 10px 10px;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#profile-main .left-side .user-description .language .varsity {
    font-size: 14px;
    font-weight: 400;
    color: #a7a7a7;
}

#profile-main .left-side .user-description .certificate {
    border-bottom: none;
    padding-top: 30px;
    padding-bottom: 10px;
}

#profile-main .right-side {
    margin-right: 40px;
    margin-left: -40px;
}

#profile-main .right-side .gig-header {
    padding: 25px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    position: relative;
    margin-bottom: 45px;
    background-color: #fff;
}

#profile-main .right-side .gig-header h5 {
    color: rgb(14, 14, 15);
    font-size: 15px;
    font-weight: 600;
}

#profile-main .right-side .gig-header h5:after {
    position: absolute;
    content: '';
    height: 4px;
    width: 91px;
    bottom: 0px;
    left: 25px;
    background: #1dbf73;
}

#profile-main .right-side .gig-box .gigs {
    background-color: #fff;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#profile-main .right-side .gig-box .gigs p {
    padding: 10px 10px 30px;
    font-size: 15px;
    font-weight: 400;
    color: #303030;
    transition: all 0.5s ease
}

#profile-main .right-side .gig-box .gigs p:hover {
    color: #1dbf73;
    text-decoration: underline;
}

#profile-main .right-side .gig-box .gigs i {
    color: #b6b6b6;
    padding-left: 10px;
    font-size: 20px;
    transition: all linear .3s;
    display: inline-block;
}

#profile-main .right-side .gig-box .gigs i:hover {
    color: #555;
}

#profile-main .right-side .gig-box .gigs .price {
    float: right;
    margin-top: -12px;
    text-transform: uppercase;
    font-size: 10px;
    color: #1dbf73;
}

#profile-main .right-side .gig-box .gigs .price span {
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
}

#profile-main .right-side .gig-box .new-gigs {
    width: 230px;
    height: 260px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding-top: 80px;
    background-color: #fff;
}

#profile-main .right-side .gig-box .new-gigs i {
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    background-color: #78cdd2;
    color: #fff;
    border-radius: 50%;
}

#profile-main .right-side .gig-box .new-gigs p {
    font-weight: 600;
    color: #62646a;
    padding-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
}

#profile-main .right-side .review-box {
    margin-top: 20px;
    background-color: #fff;
    padding: 25px;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#profile-main .right-side .review-box .review-header {
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
    padding-bottom: 30px;
}

#profile-main .right-side .review-box h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #434344;
}

#profile-main .right-side .review-box p {
    display: inline-block;
    color: rgb(255, 179, 62);
    font-size: 22px;
    font-weight: 600;
}

#profile-main .right-side .review-box i {
    color: rgb(255, 179, 62);
    font-size: 15px;
    padding-left: 10px;
}


#profile-main .right-side .review-box h6 {
    display: inline-block;
    color: #999;
    font-size: 20px;
    padding-left: 5px;
}

#profile-main .right-side .review-box .dropdown {
    float: right;


}

#profile-main .right-side .review-box .dropdown .btn {
    width: 270px;
    height: 40px;
    color: #999;
    background-color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#profile-main .right-side .review-box .dropdown .dropdown-toggle {
    float: right;
}

#profile-main .right-side .review-box .dropdown .dropdown-menu {
    margin-top: 5px;
    padding-top: 15px;
    width: 270px;
}

#profile-main .right-side .review-box .dropdown .dropdown-menu i {
    color: rgb(59, 59, 59);
    font-size: 15px;
    padding-right: 10px;
}

#profile-main .right-side .review-box .dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
    color: rgb(59, 59, 59);
    padding-bottom: 20px;
}

#profile-main .right-side .review-box .review-name h6 {
    font-size: 17px;
    color: #62646a;
    padding-top: 20px;
    padding-bottom: 10px;
    ;
}

#profile-main .right-side .review-box .review-name p {
    display: inline-block;
    color: rgb(255, 179, 62);
    font-size: 16px;
    font-weight: 600;
}

#profile-main .right-side .review-box .reviews {
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
    padding: 30px 0px;
}

#profile-main .right-side .review-box .reviews .logo-part img {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

#profile-main .right-side .review-box .reviews h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #434344;
    padding-bottom: 10px;
}

#profile-main .right-side .review-box .reviews p {
    display: inline-block;
    color: rgb(255, 179, 62);
    font-size: 16px;
    font-weight: 600;
}

#profile-main .right-side .review-box .reviews i {
    color: rgb(255, 179, 62);
    font-size: 14px;
    padding-left: 10px;
}

#profile-main .right-side .review-box .reviews .details-part img {
    width: 20px;
    height: 20px;
}

#profile-main .right-side .review-box .reviews .details-part .country-name {
    font-weight: 600;
    color: #818388;
    padding-left: 5px;
    font-size: 14px;
}

#profile-main .right-side .review-box .reviews .details-part .comments {
    font-weight: 400;
    color: #494a4d;
    font-size: 15px;
    padding-top: 10px;
}

#profile-main .right-side .review-box .reviews .details-part .publish-time {
    font-weight: 400;
    color: #767779;
    font-size: 15px;
    padding-top: 10px;
}

#profile-main .right-side .review-box .see-more-btn {
    font-size: 16px;
    color: #1dbf73;
    font-weight: 400;
    padding-top: 15px;
}

#profile-main .right-side .review-box .hidden-reviews {
    display: none;
}

#profile-main .right-side .as-a-buyer .reviews {
    border-bottom: none;
}

#profile-main .right-side .as-a-buyer .review-header {
    border-bottom: none;
}

/*******************************
        profile-main ends
 ********************************/

/*******************************
        scaleBusiness start
 ********************************/

#scaleBusiness h2 {
    color: #404145;
    font-weight: 300;
    font-size: 40px;
    padding: 35px 25px;
}

#scaleBusiness .custom-offer {
    margin-left: 25px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 30px 30px 40px;
    background-color: #fff;
    border-bottom: none;
}

#scaleBusiness .custom-offer h4 {
    color: #303030;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
}

#scaleBusiness .custom-offer p {
    color: #62646a;
    font-weight: 400;
    font-size: 15px;
    padding-top: 10px;
    margin-right: -28px;
}

#scaleBusiness .custom-offer .pink-new {
    background-color: #e21f91;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    padding: 0 3px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
}

#scaleBusiness .custom-offer a {
    color: #1dbf73;
}

#scaleBusiness .custom-offer a:hover {
    text-decoration: underline;
}

#scaleBusiness .custom-offer .offer-create {
    background-color: #1dbf73;
    font-weight: 400;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    border: transparent;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all linear 0.3s ease;
}

#scaleBusiness .custom-offer .offer-create:hover {
    -webkit-box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.69);
    box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.69);
}

#scaleBusiness .custom-offer .submit-custom-offer {
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 10px 20px 20px;
    background-color: #f7f7f7;

}

#scaleBusiness .custom-offer .submit-custom-offer p {
    color: #62646a;
    font-weight: 600;
    font-size: 12px;
    padding-top: 10px;
    margin-right: -28px;
}


#scaleBusiness .custom-offer .submit-custom-offer span {
    font-size: 12px;
    padding-left: 10px;
}

#scaleBusiness .custom-offer .submit-custom-offer textarea {
    height: 100px;
    width: 700px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(122, 125, 133, 0.300);
    resize: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

#scaleBusiness .custom-offer .submit-custom-offer .dropdown {
    margin-bottom: 10px;
}

#scaleBusiness .custom-offer .submit-custom-offer .dropdown .btn {
    width: 480px;
    height: 30px;
    color: #999;
    background-color: #fff;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#scaleBusiness .custom-offer .submit-custom-offer .dropdown .dropdown-menu img {
    width: 75px;
    border-radius: 5px;
    height: 50px;
    margin-right: 10px;
}

#scaleBusiness .custom-offer .submit-custom-offer .dropdown .dropdown-menu {
    margin-top: -30px;
    padding: 5px;
    width: 515px;
    height: 210px;
    overflow: auto;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
}

#scaleBusiness .custom-offer .submit-custom-offer .dropdown-item {
    font-weight: 400;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
    color: #999;
    padding: 10px 10px;
    font-size: 16px;
}

#scaleBusiness .custom-offer #charge {
    margin-top: 10px;
    width: 315px;
    height: 30px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    border-radius: 5px;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

#scaleBusiness .custom-offer #time {
    margin-top: 10px;
    width: 70px;
    height: 35px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    border-radius: 5px;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

#scaleBusiness .custom-offer .extra {
    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
}

#scaleBusiness .custom-offer .offer-send {
    background-color: #1dbf73;
    font-weight: 400;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    border: transparent;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all linear 0.3s ease;
    margin-top: 20px;
    margin-left: 225px;
}

#scaleBusiness .custom-offer .offer-sens:hover {
    -webkit-box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.69);
    box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.69);
}


#scaleBusiness .create-badge {
    margin-left: 25px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 30px 30px 40px;
    background-color: #fff;
    border-bottom: none;
}

#scaleBusiness .create-badge h4 {
    color: #303030;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
}

#scaleBusiness .create-badge p {
    color: #62646a;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
    margin-right: -37px;
}

#scaleBusiness .create-badge .choose-category {
    padding: 20px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    background-color: #f7f7f7;
}

#scaleBusiness .create-badge .choose-category p {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777;
    padding-bottom: 15px;
}

#scaleBusiness .create-badge .choose-category .dropdown .btn {
    width: 230px;
    height: 30px;
    color: #999;
    background-color: #fff;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#scaleBusiness .create-badge .choose-category .dropdown .dropdown-menu {
    margin-top: -30px;
    padding: 5px;
    width: 230px;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
}

#scaleBusiness .create-badge .choose-category .dropdown .dropdown-menu .dropdown-item {
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
}

#scaleBusiness .create-badge .choose-category .copy-category {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777;
    padding: 45px 0px 15px;
}

#scaleBusiness .create-badge .choose-category .clipboard-box {
    height: 180px;
    width: 250px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    border-radius: 5px;
    overflow: auto;
}

#scaleBusiness .create-badge .choose-category .clipboard-box p {
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
}

#scaleBusiness .create-badge .choose-category .seller-card {
    width: 180px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    margin-left: 40px;
    padding-bottom: 15px;
}

#scaleBusiness .create-badge .choose-category .seller-card .fiverr_icon {
    height: 80px;
    width: 80px;
    margin-top: -40px;
}

#scaleBusiness .create-badge .choose-category .seller-card h6 {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    padding: 10px 0px 0px;
}

#scaleBusiness .create-badge .choose-category .seller-card p {
    font-size: 12px;
    color: #000;
    font-weight: 600;
    margin-left: -26px;
    padding: 6px 0px 0px;
    text-transform: none;
}

#scaleBusiness .create-badge .choose-category .seller-card i {
    color: rgb(255, 179, 62);
    font-size: 13px;
    margin-bottom: 10px;
}

#scaleBusiness .create-badge .choose-category .seller-card a {
    padding: 8px 14px;
    border-radius: 5px;
    color: #fff;
    background-color: #1dbf73;
    border: none;
    font-size: 12px;
}

/*******************************
        scaleBusiness ends
 ********************************/


/*******************************
        dashboard Start
 ********************************/
#dashboard {
    padding-top: 20px;
}

#dashboard .side-bar {
    width: 340px;
}

#dashboard .side-bar .details-bar {
    padding: 25px;
    background-color: #fff;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
    border-right: 1px solid rgba(122, 125, 133, 0.300);
}

#dashboard .side-bar .details-bar .details-header {
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
    padding-bottom: 30px;
}

#dashboard .side-bar .details-bar .details-header img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

#dashboard .side-bar .details-bar .details-header h4 {
    font-size: 18px;
    font-weight: 700;
    color: #62646a;
    display: inline-block;
    padding-left: 20px;
}

#dashboard .side-bar .details-bar .details-header i {
    color: rgb(255, 179, 62);
    font-size: 13px;
    padding-left: 65px;
    display: inline-block;
}

#dashboard .side-bar .details-bar .details-header p {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    color: #62646a;
}

#dashboard .side-bar .details-bar .details-body {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
}

#dashboard .side-bar .details-bar .details-body h6 {
    font-size: 16px;
    font-weight: 400;
    color: #62646a;
    padding: 10px 31px 10px 0px;
    display: inline-block;
}

#dashboard .side-bar .details-bar .details-body .green-bar {
    height: 7px;
    width: 70px;
    border-radius: 15px;
    background-color: #1dbf73;
    display: inline-block;
}

#dashboard .side-bar .details-bar .details-body p {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #62646a;
    padding-left: 5px;
}

#dashboard .side-bar .details-bar .details-body .response-time p {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #1dbf73;
    padding-left: 72px;
}

#dashboard .side-bar .details-bar .details-body .floating {
    float: right;
    padding-top: 6px;
}


#dashboard .side-bar .details-bar .details-footer h6 {
    font-size: 16px;
    font-weight: 400;
    color: #62646a;
    padding: 15px 31px 10px 0px;
    display: inline-block;
}


#dashboard .side-bar .details-bar .details-footer p {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #62646a;
    padding-top: 10px;
    float: right;
}

#dashboard .side-bar .social-network {
    padding: 25px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#dashboard .side-bar .social-network h4 {
    font-size: 16px;
    font-weight: 700;
    color: #3e3e41;
    display: inline-block;
    padding-bottom: 20px;
}

#dashboard .side-bar .social-network p {
    display: inline-block;
    color: #fff;
    background-color: #6b6b72;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;

}

#dashboard .side-bar .social-network i {
    font-size: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#dashboard .side-bar .social-network .fa-github {
    color: #1a1a1b;
}

#dashboard .side-bar .social-network .fa-twitter {
    color: #1DA1F2;
}

#dashboard .side-bar .social-network .fa-facebook {
    color: #3b5998;
}

#dashboard .side-bar .social-network .fa-dribbble {
    color: #f31abd;
}

#dashboard .side-bar .social-network .fa-stack-overflow {
    color: #ffb30f;
}

#dashboard .side-bar .social-network .fa-vimeo {
    color: #86c9ef;
}

#dashboard .side-bar .social-network .unsigned {
    opacity: .5;
}

#dashboard .main-bar {
    margin-left: 30px;
}

#dashboard .active-header {
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#dashboard .active-header h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #0e0e0f;
}

#dashboard .active-header h6 {
    display: inline-block;
    color: #999;
    font-size: 20px;
    padding-left: 5px;
}

#dashboard .active-header .dropdown .btn {
    width: 270px;
    height: 40px;
    color: rgb(78, 78, 78);
    background-color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#dashboard .active-header .dropdown .dropdown-menu {
    margin-top: 5px;
    padding-top: 15px;
    width: 270px;
}

#dashboard .active-header .dropdown .dropdown-menu i {
    color: rgb(59, 59, 59);
    font-size: 15px;
    padding: 0px 15px;
}

#dashboard .active-header .dropdown .dropdown-menu .dropdown-item {
    font-size: 15px;
    color: rgb(12, 12, 12);
    padding-bottom: 20px;
    margin-left: -24px;
}

#dashboard .order-status {
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(122, 125, 133, 0.300);
    margin-top: 20px;
}

#dashboard .order-status .box-img {
    width: 75px;
    height: 50px;
    margin-right: 10px;
}

#dashboard .order-status .round-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

#dashboard .order-status h4 {
    font-size: 18px;
    font-weight: 700;
    color: #161616;
    display: inline-block;
    padding-left: 10px;
}

#dashboard .order-status p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #95979d;
    padding-left: 30px;
}

#dashboard .order-status p span {
    font-size: 16px;
    color: #454647;
}

#dashboard .order-status .status p {
    padding-left: 0px;
}

#dashboard .order-status .status p span {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 3px 5px;
    border-radius: 15px;
    background-color: #686969;
}

#dashboard .order-status .view p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #1dbf73;
    padding: 15px 25px 0px 0px;
}

#dashboard .Upgrade-business p {
    color: #555;
    font-size: 15px;
    font-weight: 700;
    padding-top: 70px;
}

#dashboard .Upgrade-business {
    position: relative;
}

#dashboard .Upgrade-business:after {
    height: 2px;
    width: 779px;
    content: "";
    bottom: 7px;
    left: 165px;
    position: absolute;
    background-color: rgba(122, 125, 133, 0.300);
}

#dashboard .build-success {
    padding: 0px 35px;
    background-color: #fff;
    border: 1px solid rgba(122, 125, 133, 0.300);
    margin: 15px 0px 30px;
}

#dashboard .build-success h4 {
    font-size: 20px;
    font-weight: 600;
    color: #404145;
    padding: 35px 0px 10px;
}

#dashboard .build-success p {
    font-size: 16px;
    font-weight: 400;
    color: #7a7d85;
    padding-bottom: 35px;
}

#dashboard .take-steps {
    padding: 45px 30px;
    background-color: #fff;
    border: 1px solid rgba(122, 125, 133, 0.300);
    margin-bottom: 30px;
}

#dashboard .take-steps h2 {
    font-weight: 600;
    color: #404145;
    font-size: 24px;
    padding-bottom: 60px;
}

#dashboard .take-steps img {
    width: 17%;
}

#dashboard .take-steps h5 {
    color: #404145;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 0px 20px;
}

#dashboard .take-steps p {
    color: #7a7d85;
    font-size: 15px;
    line-height: 25px;
    padding: 0px 36px 20px 0px;
}

#dashboard .take-steps span {
    color: #404145;
    font-weight: 600;
}

#dashboard .take-steps .buttons {
    padding-top: 30px;
}

#dashboard .take-steps .buttons a {
    padding: 12px 24px;
    border: 1px solid #4a73e8;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #4a73e8;
    text-transform: capitalize;
    transition: all .3s ease;
}

#dashboard .take-steps .buttons a:hover {
    background-color: #4a73e8;
    color: #fff;
}

#dashboard .img-slider {
    padding-bottom: 30px;
}

#dashboard .img-slider .carousel-indicators {
    justify-content: flex-start;
    margin-left: 30px;
    bottom: 33px;
    left: 2px;
}

#dashboard .img-slider .carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
}

#dashboard .carousel-control-next-icon {
    display: none;
}

#dashboard .carousel-control-prev-icon {
    display: none;
}

/*******************************
        scaleBusiness ends
 ********************************/

/*******************************
        contact-page Start
 ********************************/
#contact-page {
    padding: 40px;
}

#contact-page .contact-header h2 {
    font-weight: 400;
    color: #404145;
    font-size: 40px;
    letter-spacing: 1px;
    padding-bottom: 40px;
}


#contact-page .contact-header .search form {
    float: right;
    position: relative;
}

#contact-page .contact-header .search form input {
    background: transparent;
    width: 155px;
    padding: 7px 3px;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #dadbdd;
    border-radius: 0;
    -webkit-transition: border-color .2s, width .2s;
    -o-transition: border-color .2s, width .2s;
    transition: border-color .2s, width .2s;
    float: right;
    border: 0;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
}

#contact-page .contact-header .search form input:focus-visible {
    width: 140%;
    outline: 0;
    border-bottom: 1px solid #1dbf73;
}

#contact-page .contact-header .search form button {
    z-index: 1;
    top: 6px;
    right: 3px;
    width: 19px;
    height: 19px;
    border: none;
    background: none;
    float: right;
    margin-left: -19px;
}

#contact-page .contact-header .search form button i {
    font-size: 16px;
    color: #afb1b8;
    margin-top: 15px;
}



#contact-page .contact-body .nav-tabs {
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
}

#contact-page .contact-body .nav-tabs .nav-item.show .nav-link,
#contact-page .contact-body .nav-tabs .nav-link {
    background-color: transparent;
    padding: 3px 14px 8px 0px;
    color: #95979d;
    font-size: 14px;
    border: none;
    line-height: 42px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    position: relative;
    margin-right: 8px;
    -webkit-transition: all linear 0.4s 0s;
    -moz-transition: all linear 0.4s 0s;
    -o-transition: all linear 0.4s 0s;
    transition: all linear 0.4s 0s;
}

#contact-page .contact-body .nav-tabs .nav-item.show .nav-link span,
#contact-page .contact-body .nav-tabs .nav-link span {
    background: #95979d;
    color: white;
    font-size: 12px;
    height: 22px;
    width: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    margin-left: 8px;
}

#contact-page .contact-body .nav-tabs .nav-item.show .nav-link:hover span,
#contact-page .contact-body .nav-tabs .nav-link:hover span {
    background: #1dbf73;
}


#contact-page .contact-body .nav-tabs .nav-item.show .nav-link.active,
#contact-page .contact-body .nav-tabs .nav-link.active {
    position: relative;
    background-color: transparent;
    color: #222325;
}

#contact-page .contact-body .nav-tabs .nav-item.show .nav-link.active span,
#contact-page .contact-body .nav-tabs .nav-link.active span {
    background: #1dbf73;
}

#contact-page .contact-body .nav-tabs .nav-item.show .nav-link.active::after,
#contact-page .contact-body .nav-tabs .nav-link.active::after {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    bottom: -10px;
    left: 50%;
    border-top: 1px solid rgba(122, 125, 133, 0.300);
    border-left: 1px solid rgba(122, 125, 133, 0.300);
    transform: rotate(45deg) translateX(-50%);
    z-index: 222;
    background: #f7f7f7;
    opacity: 1;
}

#contact-page .contact-body .nav-tabs .nav-item.show .nav-link:hover,
#contact-page .contact-body .nav-tabs .nav-link:hover {
    background-color: transparent;
    color: #222325;
}



#contact-page .contact-body .buyer-purchase {
    border: 1px solid rgba(122, 125, 133, 0.300);
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #fff;
}

#contact-page .contact-body .buyer-purchase h5 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #0e0e0f;
}

#contact-page .contact-body .buyer-header {
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 5px 20px;
    border-top: none;
    background-color: #fff;
}

#contact-page .contact-body .buyer-header p {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
}

#contact-page .contact-body .buyer-header a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
}

#contact-page .contact-body .buyer-header .last-div {
    padding-left: 40px;
}

#contact-page .contact-body .buyer-details {
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 20px 20px 20px;
    border-top: none;
    background-color: #fff;
}

#contact-page .contact-body .buyer-details .round-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 20px;
}

#contact-page .contact-body .buyer-details h6 {
    font-size: 14px;
    color: #4a73e8;
    display: inline-block;
    padding-left: 20px;
}


#contact-page .contact-body .buyer-details a {
    display: block;
    color: #1dbf73;
    font-size: 14px;
    margin-left: 72px;
}

#contact-page .contact-body .buyer-details .count p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(85, 84, 84);
    padding-top: 25px;
}

#contact-page .contact-body .buyer-details .last-div p {
    display: inline-block;
}

#contact-page .contact-body .buyer-details .last-div {
    padding-left: 40px;
}

#contact-page .contact-body .buyer-details .last-div a {
    display: inline-block;
    margin-left: 0px;
}

#contact-page .contact-body .buyer-details .last-div .message-box {
    padding-left: 28px;
}

#contact-page .contact-body .buyer-details .last-div .message-box i {
    font-size: 13px;
    border-radius: 5px;
    color: #787879;
    background-color: #fff;
    padding: 9px 11px;
    margin-right: 5px;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#contact-page .contact-body .buyer-details .last-div .send-offer {
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    background-color: #1dbf73;
    padding: 5px 14px;
    border: 1px solid #1dbf73;
}

#contact-page .contact-body .buyer-details .seller-count .message-box {
    padding-left: 125px;
}


/*******************************
        contact-page ends
 ********************************/
/*******************************
        requests-page start
 ********************************/

#requests-page {
    padding: 40px;
}

#requests-page .requests-header h2 {
    font-weight: 400;
    color: #404145;
    font-size: 40px;
    letter-spacing: 1px;
    padding-bottom: 40px;
}


#requests-page .requests-header .search form {
    float: right;
    position: relative;
}

#requests-page .requests-header .search form input {
    background: transparent;
    width: 155px;
    padding: 7px 3px;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #dadbdd;
    border-radius: 0;
    -webkit-transition: border-color .2s, width .2s;
    -o-transition: border-color .2s, width .2s;
    transition: border-color .2s, width .2s;
    float: right;
    border: 0;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
}

#requests-page .requests-header .search form input:focus-visible {
    width: 140%;
    outline: 0;
    border-bottom: 1px solid #1dbf73;
}

#requests-page .requests-header .search form button {
    z-index: 1;
    top: 6px;
    right: 3px;
    width: 19px;
    height: 19px;
    border: none;
    background: none;
    float: right;
    margin-left: -19px;
}

#requests-page .requests-header .search form button i {
    font-size: 16px;
    color: #afb1b8;
    margin-top: 15px;
}



#requests-page .requests-body .nav-tabs {
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
}

#requests-page .requests-body .nav-tabs .nav-item.show .nav-link,
#requests-page .requests-body .nav-tabs .nav-link {
    background-color: transparent;
    padding: 3px 14px 8px 0px;
    color: #95979d;
    font-size: 14px;
    border: none;
    line-height: 42px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    position: relative;
    margin-right: 8px;
    -webkit-transition: all linear 0.4s 0s;
    -moz-transition: all linear 0.4s 0s;
    -o-transition: all linear 0.4s 0s;
    transition: all linear 0.4s 0s;
}

#requests-page .requests-body .nav-tabs .nav-item.show .nav-link span,
#requests-page .requests-body .nav-tabs .nav-link span {
    background: #95979d;
    color: white;
    font-size: 12px;
    height: 22px;
    width: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    margin-left: 8px;
}

#requests-page .requests-body .nav-tabs .nav-item.show .nav-link:hover span,
#requests-page .requests-body .nav-tabs .nav-link:hover span {
    background: #1dbf73;
}


#requests-page .requests-body .nav-tabs .nav-item.show .nav-link.active,
#requests-page .requests-body .nav-tabs .nav-link.active {
    position: relative;
    background-color: transparent;
    color: #222325;
}

#requests-page .requests-body .nav-tabs .nav-item.show .nav-link.active span,
#requests-page .requests-body .nav-tabs .nav-link.active span {
    background: #1dbf73;
}

#requests-page .requests-body .nav-tabs .nav-item.show .nav-link.active::after,
#requests-page .requests-body .nav-tabs .nav-link.active::after {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    bottom: -10px;
    left: 50%;
    border-top: 1px solid rgba(122, 125, 133, 0.300);
    border-left: 1px solid rgba(122, 125, 133, 0.300);
    transform: rotate(45deg) translateX(-50%);
    z-index: 222;
    background: #f7f7f7;
    opacity: 1;
}

#requests-page .requests-body .nav-tabs .nav-item.show .nav-link:hover,
#requests-page .requests-body .nav-tabs .nav-link:hover {
    background-color: transparent;
    color: #222325;
}


#requests-page .requests-body i {
    padding-right: 10px;
}

#requests-page .requests-body nav p {
    float: right;
    margin-top: -45px;
    color: #95979d;
    font-size: 16px;
    font-weight: 400;
}


#requests-page .requests-body .dropdown .btn {
    width: 175px;
    height: 40px;
    color: #999;
    background-color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(122, 125, 133, 0.300);
}

#requests-page .requests-body .dropdown .dropdown-menu a {
    color: #999;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#requests-page .requests-body .dropdown .dropdown-menu {
    width: 175px;
}



#requests-page .requests-body .buyer-requests {
    border: 1px solid rgba(122, 125, 133, 0.300);
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #fff;
}

#requests-page .requests-body .buyer-requests h5 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #0e0e0f;
}

#requests-page .requests-body .requests-header {
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 5px 20px;
    border-top: none;
    background-color: #fff;
}

#requests-page .requests-body .requests-header p {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    float: left;
    margin-top: 0px;
}

#requests-page .requests-body .requests-header .second-div {
    padding-left: 40px;
}

#requests-page .requests-body .requests-body {
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 20px;
    border-top: none;
    background-color: #fff;
    transition: all 0.2s ease;
}

#requests-page .requests-body .requests-body:hover {
    background-color: #f7f7f7;
}

#requests-page .requests-body .requests-body .offer h3 {
    font-weight: 600;
    color: #404145;
    font-size: 23px;
    padding-bottom: 10px;
}

#requests-page .requests-body .requests-body .offer p {
    font-size: 14px;
    line-height: 20px;
    color: #555;
    padding-bottom: 20px;
}

#requests-page .requests-body .requests-body .offer li {
    float: left;
}

#requests-page .requests-body .requests-body .offer li p {
    color: #999;
    font-size: 14px;
    padding: 0px 20px 10px 0px;
}

#requests-page .requests-body .requests-body .second-div p {
    color: #555;
    font-size: 14px;
    padding-left: 30px;
}

#requests-page .requests-body .requests-body .price p {
    color: #555;
    font-size: 14px;
}

#requests-page .requests-body .requests-body .request-profile .round-img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

#requests-page .requests-body .requests-body .request-profile h6 {
    font-size: 24px;
    color: #1dbf73;
    font-weight: 600;
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 20px;
}

#requests-page .requests-body .requests-body .request-profile p {
    font-size: 14px;
    line-height: 20px;
    color: #555;
    padding-bottom: 20px;
}

#requests-page .requests-body .requests-body .request-profile li {
    float: left;
}

#requests-page .requests-body .requests-body .request-profile li p {
    color: #999;
    font-size: 14px;
    padding: 0px 20px 10px 0px;
}


#requests-page .requests-body .active-header {
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 5px 20px;
    border-top: none;
    background-color: #fff;
}

#requests-page .requests-body .active-header p {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    float: left;
    margin-top: 0px;
}

#requests-page .requests-body .active-header span {
    padding-left: 30px;
}

#requests-page .requests-body .active-header .second-div {
    padding-left: 40px;
}

#requests-page .requests-body .active-body {
    border: 1px solid rgba(122, 125, 133, 0.300);
    padding: 20px 20px 40px;
    border-top: none;
    background-color: #fff;
    transition: all 0.2s ease;
}

#requests-page .requests-body .active-body:hover {
    background-color: #f7f7f7;
}

#requests-page .requests-body .active-body .date {
    padding: 0px 0px 0px 10px;
}

#requests-page .requests-body .active-body p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(94, 92, 92);
}

#requests-page .requests-body .active-body .second-div {
    padding-left: 40px;
}

#requests-page .requests-body .active-body .second-div .round-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
}

#requests-page .requests-body .active-body .second-div .details {
    padding: 0px 150px 0px 30px;
}

#requests-page .requests-body .active-body .second-div p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(94, 92, 92);
}

#requests-page .requests-body .active-body .second-div button {
    background-color: #fff;
    padding: 1px 5px;
    border-radius: 3px;
    color: #999;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid rgba(122, 125, 133, 0.300);
    margin: 10px 10px 10px 0px;
}


#requests-page .requests-body .active-body .days a {
    color: #4a73e8;
    font-size: 12px;
    display: none;
    transition: all 0.2s ease;
    position: absolute;
}

#requests-page .requests-body .active-body:hover .days a,
#requests-page .requests-body .active-body:hover .last-div .send-offer {
    display: inline-block;
}

#requests-page .requests-body .active-body .last-div {
    padding: 0px 0px 0px 6px;
}

#requests-page .requests-body .active-body .days p,
#requests-page .requests-body .active-body .last-div p {
    padding: 0px 0px 30px 0px;
}

#requests-page .requests-body .active-body .last-div .send-offer {
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    background-color: #1dbf73;
    padding: 5px 14px;
    border: 1px solid #1dbf73;
    display: none;
    transition: all 0.2s ease;
    position: absolute;
}

/*******************************
        requests-page ends
 ********************************/

/*******************************
        inbox-page ends
 ********************************/
#inbox {
    padding: 40px 70px;

}

#inbox .box {
    background-color: skyblue;
    height: 76vh;
}

/*******************************
        inbox-page ends
 ********************************/