
.message_toggle #message-dropdown{
    top:90%;
}

/* arman 25 */
#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown .nav-tabs {
    border: 0;
    padding-top: 10px;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);

}
#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown .nav-tabs .nav-link i{
    padding-right: 5px;

}
#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown .nav-tabs .nav-link.active{
    color:#2ac37b;

}
/* 72 from arman.css */
#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu {
    padding: 0px;
    border: 1px solid rgb(219, 219, 219);
    -webkit-box-shadow: 0px 0px 3px -5px #000000;
    box-shadow: 0px 0px 3px -5px #000000;
    left: -79px;
}

/* 17 number line  */
#profile-navbar .navbar-expand-lg .navbar-nav #message-dropdown {
    width: 405px;
    left: 185px;
}
/* 18 number line */
#profile-navbar .navbar-expand-lg .navbar-nav .message-body {
    height: 520px;
    /* width: 500px; */
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px;
}
.message-body .noti-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 32px;
    background: white;
    border-top: 1px solid #e4e5e7;
}
.message-body .item li{
    background: #ebf2f5;
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid #e4e5e7;
    -webkit-transition: background-color 0.2s, width 0.2s;
    -o-transition: background-color 0.2s, width 0.2s;
    transition: background-color 0.2s, width 0.2s;
}
.message-body .item li:hover{
    background: white;
}
#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu .item li a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    padding:0px;
    margin-bottom: 0px;
    letter-spacing: 0px;
}
#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu .item li a:hover {
    text-decoration: none;
}
.message-body .notification_left i{
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
    background: #d1e7f0;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    color: #167495;
}
.message-body .notification_left img{
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
    border-radius: 50%;
    display: inline-block;
}
.message-body .notification-right i{
    height: 55px;
    width: 55px;
    color:#bdc0c1;
    font-size: 18px;
    display: inline-block;
    padding-top: 5px;
    text-align: center;
}
.message-body .notification_content p {
    font-size: 14px;
    line-height: 15px;
    color:#62646a;
}
.message-body .notification_content span {
    font-size: 12px;
    color:#b5b6ba;
}
.message-body .noti-footer .footer-items{
    float: left;
    padding: 0 20px;
}
.message-body .noti-footer .footer-items li{
    float: left;
    display: inline-block;
    line-height: 32px;
    padding-right: 10px;
}
#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu .message-body .noti-footer .footer-items li a{
   padding: 0px;
}
.message-body .noti-footer .footer-items li i{
    color: #7b7b7b;
    font-size: 14px;
}
.message-body .noti-footer .footer-items li i:hover{
    color: #535353;
}
#profile-navbar .navbar-expand-lg .navbar-nav .dropdown-menu .message-body .noti-footer .see-all-inbox{
    float: right;
    padding: 0 20px;
    display: inline-block;
    line-height: 32px;
    font-weight: 600;
    font-size: 14px;
    color: #4a73e8;
    vertical-align: baseline;
}