@font-face {
    font-family: Helvetica_medium;
    src: url(../webfonts/Helvetica-Neue-Font/Helvetica_medium/Helvetica_medium.ttf);

}

@font-face {
    font-family: Helvetica_ligntl;
    src: url(../webfonts/aileron/Aileron-Regular.otf);

}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Helvetica_ligntl;
    font-weight: 400;
    background-color: #f7f7f7;
}

ul,
ol {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a {
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1340px !important;
    }
}

/* common css end */

/* analytices css start from here */

header {
    background: rd;
    border-bottom: 1px solid rgba(122, 125, 133, 0.300);
}

header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    color: #7a7d85;
    line-height: 75px;
    font-weight: 400;
    font-family: Helvetica_medium;
    padding: 0 10px;
    transition: all linear .3s;

}

header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #1dbf73;
}



/* analytices main part start */


.analytices-main .analytices-headingd h2 {
    font-size: 40px;
    color: #404145;
    font-weight: 400;
    font-family: Helvetica_ligntl;
    padding: 25px 0 35px 0;
}

.analytices-main ul li {
    font-size: 14px;
    color: #95979d;
    display: inline-block;
    float: left;
}

.analytices-main ul li a {
    display: inline-block;
    font-size: 16px;

    color: #95979d;
    padding: 10px 10px;
}

.analytices-main ul li a.active {
    border-bottom: 1px solid #95979d;
}

.analytices-main ul li a:hover {
    border-bottom: 1px solid #95979d;
}

/*************************************** 
          index/profile Page
 **************************************  */

